.body {
  background-image: url("./1-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute
}
.container{
    background-color:transparent;
    padding: 30px;
}
